.list .result-container, .list #details-container {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    color: white;
}

@font-face {
    font-family: adlinnaka;
    src: url('fonts/Adlinnaka-BoldDemo.ttf');
}

@font-face {
    font-family: evolve;
    src: url('fonts/MADE\ Evolve\ Sans\ Regular\ \(PERSONAL\ USE\).otf');
}

@keyframes jump {
    0% { transform: translateY(-5px); }
    25% { transform: translateY(0px); }
    50% { transform: translateY(-2px); }
    75% { transform: translateY(1px); }
    100% { transform: translateY(0px); }
}

.result-container:hover {
    background-color: rgba(96, 96, 96, 0.4);
    transition: all 0.1s linear;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: fixed;
    background-color: #090909;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23000000' fill-opacity='0.77' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

header {
    padding: 30px 50px;
    background-color: rgba(9, 9, 9, 0.5);
    text-align: right;
}

.iconButton {
    padding: 15px 30px;
}

main {
    padding: 80px 160px;
}

button {
    padding: 15px 55px;
    border-radius: 50px;
    background-color: rgb(226, 203, 2);
    font-weight: bold;
    color:  #090909;
    font-size: 1.1em;
    font-family: evolve;
    border: 0;
    margin: 0px 5px;
}

h1, h3 {
    font-family: adlinnaka;
    color: rgb(255, 72, 0);
    margin: 0;
}

.upDescription {
    color: white;
    font-family: evolve;
    margin: 0;
}

.startSection h1 {
    font-size: 4em;
}

.startSection .upDescription {
    font-size: 1.5em;
}

.startSection .paragraph {
    font-size: 1.3em;
}

button:hover {
    animation: jump linear 2s forwards;
    border-width: 0px 0px 5px 0px;
}

.paragraph {
    color: gray;
    font-family: evolve;
    line-height: 1.8em;
}

.header {
    margin-bottom: 40px
}

.body {
    margin-bottom: 60px;
}

.button {
    text-align: center;
}

.clicked {
    background-color: rgb(255, 72, 0);
    transition: all 1s linear;
}

#form {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: left;
    column-gap: 2em;
    row-gap: 1em;
}

#form label {
    width: 100%;
    grid-column: 1/2;
    color: gray;
    font-family: adlinnaka;
}

label input, select {
    display: block;
    padding: 9px 0px 9px 15px;
    width: 100%;
    margin-top: 10px;
    font-family: evolve;
    color: rgba(9, 9, 9, 0.7);
}

label input {
    width: 98% 
}

#searchBtn {
    justify-self: center;
    align-self:center;
    grid-row: 1/2;
    grid-column: 2/3;
}

h2 {
    color: white;
    font-family: adlinnaka;
    margin-bottom: 5vh;
    font-size: 2em;
    grid-column: 1/-1;
}

.result-container img {
    max-width: 200px;
}

#details-container img {
    width: 50vh;
}


.result-container {
    background-color: rgba(9,9,9,0.5);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 90px 200px;
    column-gap: 10%; 
}

#details-container {
    background-color: rgba(9,9,9,0.5);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10%; 
}

#details-container h3, #details-container ul {
    grid-column: 2/3;
}

.image {
    grid-row: 1/-1;
    align-self: center;
}

h3 {
    font-size: 3vh;
    vertical-align: bottom;
    align-self: center;
}

#details-container h3 {
    font-size: 4vh;
    padding: 20px 0px;
}

.details {
    padding-right: 30px;
}

span {
    font-weight: bold;
    margin-right: 15px;
    font-family: adlinnaka;
}

.list-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(300px, 12);
    column-gap: 15%;
}

.pagination {
    grid-column: 1/-1;
    grid-row: 12/13;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    justify-self: center;
    margin-top: 5vh;
    background-color: rgba(9,9,9,0.8);
}

.pagination li {
    padding: 0.3em 0.8em;
    font-size: 1.1em;
    font-family: evolve;
}

.pagination li:hover {
    background-color: rgba(96, 96, 96, 0.4);
    transition: all 0.1s linear;
    color: gray;
}

.active {
    background-color: rgb(192, 192, 192);
    color: #090909;
    transition: all 0.1s linear;
}

.listOfPages {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(9,9,9,0.8);
    color: gray;
}

.listOfPages li {
    border-radius: 40%;
}

.moveLink {
    background-color: rgb(226, 203, 2);
    color: #090909;
    transition: all 0.1s linear;
    border-radius: 40%;
}

input:invalid {
    border-color: #900;
    background-color: #FDD;
}
  
input:focus:invalid {
    outline: none;
}

.error {
    width: 100%;
    font-size: 0.8em;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
}

.error.active {
    padding: 0.4em 15px;
}